.wpproatoz-snake-container {
    background-color: #ccc;
    outline: 1px solid black;
    padding: 1px;
    box-sizing: border-box;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.wpproatoz-snake {
    background-color: transparent;
    border: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    gap: 1px;
}

.snake_cell {
    background-color: #fff;
    aspect-ratio: 1 / 1;
}

.snakeLabel {
    display: inline-block;
    font-size: 12px;
    padding: 1px 5px;
    border-right: 1px solid #000;
}

.snakeInput {
    background-color: #fff;
    border: 1px solid black;
    display: inline-block;
    min-width: 35px;
    padding: 0 2px;
    text-align: right;
}

.snakeText {
    border: 1px solid transparent;
    display: inline-block;
    padding: 0 2px;
}

.snakeButton {
    background-color: #faa;
    border: 1px solid black;
    cursor: pointer;
    display: inline-block;
    padding: 0 4px;
}

.snakeButton:active {
    background-color: #fbb;
}